@page
@model Web.Server.SoundWave.Pages.Songs.IndexModel

<div class="container mt-5">
    <form method="get">
        <p>
            Фильтрация:
            <select asp-for="FilteredValue">
                <option value="">Все</option>
                <option value="Asc">от А до Я</option>
                <option value="Desc">от Я до А</option>
            </select>
            Жанры:
            <select asp-for="GenreSearchString" asp-items="Model.Genres">
                <option value="">Все</option>
            </select> 
            Название:
            <input type="text" asp-for="NameSearchString" />
            <input type="submit" value="Поиск" />
        </p>
    </form>
    <div class="col-lg-7 mt-3">
        @if (Model.Songs is not null)
        {
            @foreach (var song in Model.Songs)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="ms-3">
                                    <h5>@song.Title</h5>
                                </div>
                            </div>
                            <div class="d-flex flex-row align-items-center">
                                <audio controls src="@song.SongURL"></audio>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>К сожалению по вашему запросу ничего не было найдено</h1>
        }
    </div>
</div>